.product-item {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

.price,
.details {
  display: inline-block;
}

.product-images {

  text-align: center;
}

.product-images img {
  display: inline-block;
  width: 33.33%;
  height: 33.33%;
}

nav li img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header h1 {
  margin: 0;
}

header nav {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box
}

li {
  poaition: relative;
  display: block;
  margin-right: 10px;
}

a {
 color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

h2 p {
text-align: center;
}


