.product-item {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

.price,
.details {
  display: inline-block;
}

.product-images {

  text-align: center;
}

.product-images img {
  display: inline-block;
  width: 33.33%;
  height: 33.33%;
}

nav li img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

